{% extends 'predstava/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <div id="korisnik-informacije">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="ime" placeholder="Unesite ime">

                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Unesite Email">

                    </div>

                </div>
                <div id="informacije-dostava">
                    <hr>
                    <p>Informacije o dostavi</p>
                    <hr>
                    <div class="form field">
                        <input class="form-control" type="text" name="adresa" placeholder="Unesite adresu">&nbsp;
                    </div>
                    <div class="form field">
                        <input class="form-control" type="text" name="grad" placeholder="Unesite grad">&nbsp;
                    </div>
                    <div class="form field">
                        <input class="form-control" type="text" name="drzava" placeholder="Unesite drzavu">&nbsp;
                    </div>
                    <div class="form field">
                        <input class="form-control" type="text" name="postanskiBroj" placeholder="Unesite poštanski broj">
                    </div>


                </div>
                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Nastavi">
            </form>

        </div>
        <br>
        <div class="box-element hidden" id="placanje-informacije">
            <small>Plaćanje</small>
            <button id="placanje">Plati</button>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'kosarica' %}">&#x2190; Povratak u košaricu</a>
            <hr>
            <h3>Informacije o narudzbi</h3>
            <hr>
            {% for stavka in stavke %}
            <div class="kosarica-row">
                <div style="flex:2"><img class="row-image" src="{{stavka.predstava.slika.url}}"></div>
                <div style="flex:2"><p>{{stavka.predstava.naziv}}</p></div>
                <div style="flex:1"><p>{{stavka.predstava.cijena}} kn</p></div>
                <div style="flex:1"><p>x{{stavka.kolicina}}</p></div>

            </div>
            {% endfor %}
            <h2> Broj karata: {{evidencija.get_kosarica_stavke}}</h2>
            <h2>Ukupno: {{evidencija.get_kosarica_ukupno}} kn</h2>
        </div>
    </div>
</div>

<script type="text/javascript">
    var dostavaKarata = '{{evidencija.dostavaKarata}}'
    var ukupno = '{{evidencija.get_kosarica_ukupno}}'
    if(dostavaKarata == 'False'){
        document.getElementById('informacije-dostava').innerHTML = ''

    }
    if(user != 'AnonymousUser'){
        document.getElementById('korisnik-informacije').innerHTML = ''
    }

    if(dostavaKarata == 'False' && user != 'AnonymousUser'){
        document.getElementById('form-wrapper').classList.add("hidden");
        document.getElementById('placanje-informacije').classList.remove("hidden");

    }


    var form = document.getElementById('form')
    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('Obrazac je poslan')
        document.getElementById('form-button').classList.add("hidden");
        document.getElementById('placanje-informacije').classList.remove("hidden");
        })

     document.getElementById('placanje').addEventListener('click', function(e){
        submitFormData()
        })
     function submitFormData(){
       console.log('Gumb za placanje je kliknut')

       var userFormData = {
            'imeIprezime':null,
            'email':null,
            'ukupno':ukupno,
       }
       var dostavaInfo = {
            'adresa':null,
            'grad':null,
            'drzava':null,
            'postanaskiBroj':null,

       }

       if (dostavaKarata != 'False'){
            dostavaInfo.adresa = form.adresa.value
            dostavaInfo.grad = form.grad.value
            dostavaInfo.drzava = form.drzava.value
            dostavaInfo.postanskiBroj = form.postanskiBroj.value

       }
       if (user == 'AnonymousUser'){
            userFormData.imeIprezime = form.imeIprezime.value
            userFormData.email = form.email.value
       }
       var url = "/proces_evidencija/"
       fetch(url, {
        method: 'POST',
        headers:{
            'Content-Type':'application/json',
            'X-CSRFToken':csrftoken,

        },
        body:JSON.stringify({'form':userFormData, 'dostavaKarata':dostavaInfo}),
       })
       .then((response) =>response.json())
       .then((data) => {
            console.log('Uspjeh:',data);
            alert('Transakcija je uspješno izvršena');
            window.location.href = "{% url 'predstava' %}"

       })

      }

</script>

{% endblock content %}