{% extends 'predstava/main.html' %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'predstava' %}">&#x2190; Nastavi</a>

                <br>
                <br>
                <table class="table">
                    <tr>
                        <th><h5>Broj karata: <strong>{{evidencija.get_kosarica_stavke}}</strong></h5></th>

                        <th><h5>Ukupno: <strong>{{evidencija.get_kosarica_ukupno}}</strong></h5></th>
                        <th>
                            <a class="btn btn-outline-dark" href="{% url 'dostava' %}">Dostava</a>


                        </th>

                    </tr>
                </table>


            </div>
            <br>
            <div class="box-element">
                <div class="kosarica-row">
                    <div style="flex:2"></div>
                    <div style="flex:2"><strong>Predstava</strong></div>
                    <div style="flex:1"><strong>Cijena</strong></div>
                    <div style="flex:1"><strong>Kolicina</strong></div>
                    <div style="flex:1"><strong>Ukupno</strong></div>

                </div>
                {% for stavka in stavke %}
                <div class="kosarica-row">
                    <div style="flex:2"><img class="row-image" src="{{stavka.predstava.slika.url}}"></div>
                    <div style="flex:2"><strong>{{stavka.predstava.naziv}}</strong></div>
                    <div style="flex:1"><strong>{{stavka.predstava.cijena|floatformat:2}} kn</strong></div>&nbsp; &nbsp;
                    <div style="flex:1">
                        <p class="kolicina">{{stavka.kolicina}}</p>
                        <div class="kolicina">
                            <img data-predstava="{{stavka.predstava.id}}" data-action="add" class="chg-kolicina update-kosarica" src="{% static 'slike/gore.png' %}">
                            <img data-predstava="{{stavka.predstava.id}}" data-action="remove" class="chg-kolicina update-kosarica" src="{% static 'slike/dolje.png' %}">

                        </div>

                    </div>
                    <div style="flex:1"><p>{{stavka.get_ukupno}}</p></div>

                </div>
                {% endfor %}

            </div>

        </div>
    </div>


{% endblock content %}