{% extends 'predstava/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		<div class="coll">
			<form method="get">
				{{myFilter.form}}
				<button class="btn btn-primary" type="submit">Pretraži</button>
			</form>
		</div>
		{% for predstava in predstave %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{predstava.slika.url}}">
			<div class="box-element predstava">

				<h6><strong>Naziv predstave: {{ predstava.naziv }}</strong></h6>
				<h6><strong>Datum i vrijeme predstave: {{ predstava.datum }}</strong></h6>
				<h6><strong>Naziv kazališta: {{ predstava.nazivKazalista }}</strong></h6>
				<h6><strong>Adresa: {{ predstava.adresa }}</strong></h6>
				<hr>

				<button data-predstava="{{predstava.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-kosarica">Dodaj u košaricu</button>

				<h4 style="display: inline-block; float: right"><strong>{{predstava.cijena|floatformat:2}} kn</strong></h4>

			</div>

		</div>
		{% endfor %}
	</div>

{% endblock content %}